<div class="local-contexts-data">
  <h2>{{ title }}</h2>
  {% if content %}
    <div class="content-wrapper">
      <pre>{{ content }}</pre>
    </div>
  {% else %}
    <p>No data available.</p>
  {% endif %}
</div>

